<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
  <head>
<meta name="google-site-verification" content="a53sUEJUPkIP70XaXqmQLjJDsACodchH4lu4EjZPEiw" />
    
    
    
    
    
{% comment %} Manual GTag implementation no longer required    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47670009-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47670009-1');
</script>
{% endcomment %}
    
    
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

{% comment %} Manual GTag implementation no longer required    
<!-- Global site tag (gtag.js) - Google Ads: 709500307 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-709500307"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-709500307');
</script>
{% endcomment %}

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}
{%comment%}{%- render 'bold-pr' -%}{%endcomment%}
{%comment%}{% include 'globo.filter.script' %}{%endcomment%}

    <script src="https://use.typekit.net/gld2vmc.js"></script>
    <script>try{Typekit.load({async:true});}catch(e){}</script>

    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
    <link rel="stylesheet" href="https://use.typekit.net/oby0sfz.css">

    {% if template contains "custom-mhm" %}
      <style>
      .FeatureText.SideBySide .FeatureText__ContentWrapper {
        margin-bottom: 40px;
      }
      @media only screen and (max-width: 767px) {
        .ImageHero {
          flex-direction: column;
          background: transparent!important;
        }
        .ImageHero .ImageHero__ImageWrapper {
          order: 2;
          flex-basis: unset;
        }
        .ImageHero .ImageHero__ContentOverlay {
          order: 1;
          flex-basis: unset;
          padding: 0 0 30px 0;
          text-align: center;
        }
        .ImageHero .ImageHero__ContentOverlay.ImageHero__ContentAlignRight {
          margin: 0;
        }
        .ImageHero .ImageHero__ImageWrapper, .ImageHero .ImageHero__Image {
          position: relative;
          background: transparent!important;
        }
        .ImageHero .ImageHero__Image picture { 
          display: block!important;
        }
      }
      @media only screen and (min-width: 768px) {
        .PageContent .ImageHero__ContentOverlay .SectionHeader {
          text-shadow: 2px 2px 6px white, -2px -2px 6px white, -2px 2px 6px white, 2px -2px 6px white;
        }
      }
      </style>
    {% endif %}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        template: {{ template.name | json }},
        localeRootUrl: {% if request.locale.primary %}''{% else %}{{ request.locale.root_url | json }}{% endif %},
        shopCurrency: {{ shop.currency | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        useNativeMultiCurrency: {% if shop.enabled_currencies.size > 1 %}true{% else %}false{% endif %},
        currencyConversionEnabled: {% if shop.enabled_currencies.size > 1 %}false{% else %}{{ settings.currency_conversion_enabled | json }}{% endif %},
        currencyConversionMoneyFormat: {{ settings.currency_conversion_money_format | json }},
        currencyConversionRoundAmounts: {{ settings.currency_conversion_round_amounts | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }}
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());

      // This code is done to force reload the page when the back button is hit (which allows to fix stale data on cart, for instance)
      if (performance.navigation.type === 2) {
        location.reload(true);
      }
    </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>

    {% if settings.currency_conversion_enabled %}
      <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer></script>
    {% endif %}

    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    {% include 'microdata-schema' %}
  {% section 'filter-menu-settings' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

 

    
   {% if template contains 'product' %} {% for image in product.images limit:3 %} <meta property="product-image" content="http:{{ image.src | product_img_url: 'grande' }}"> {% endfor %} {% endif %} 
    
    
  {% comment %}{% render 'minmaxify-head' %}{% endcomment %}
  <!-- Algolia head -->
    





<script type="text/template" id="template_algolia_money_format">{% include 'algolia_money_format' %}</script>
<script type="text/template" id="template_algolia_current_collection_id">{% include 'algolia_current_collection_id' %}</script>
<script type="text/template" id="template_algolia_autocomplete">{% include 'algolia_autocomplete.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete.css">{% include 'algolia_autocomplete.css.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_pages_empty">{% include 'algolia_autocomplete_pages_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_page">{% include 'algolia_autocomplete_page.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_collection">{% include 'algolia_autocomplete_collection.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_collections_empty">{% include 'algolia_autocomplete_collections_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_article">{% include 'algolia_autocomplete_article.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_articles_empty">{% include 'algolia_autocomplete_articles_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_product">{% include 'algolia_autocomplete_product.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_products_empty">{% include 'algolia_autocomplete_products_empty.hogan' %}</script>
<script type="text/template" id="template_algolia_autocomplete_footer">{% include 'algolia_autocomplete_footer.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search">{% include 'algolia_instant_search.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search.css">{% include 'algolia_instant_search.css.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_stats">{% include 'algolia_instant_search_stats.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_facet_item">{% include 'algolia_instant_search_facet_item.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_current_refined_values_item">{% include 'algolia_instant_search_current_refined_values_item.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_product">{% include 'algolia_instant_search_product.hogan' %}</script>
<script type="text/template" id="template_algolia_instant_search_no_result">{% include 'algolia_instant_search_no_result.hogan' %}</script>
{{ 'algolia_dependency_font-awesome-4-4-0.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'algolia_externals.js' | asset_url }}" defer></script>
{{ 'algolia_config.js' | asset_url | script_tag }}
{{ 'algolia_init.js' | asset_url | script_tag }}
<script src="{{ 'algolia_analytics.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_translations.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_helpers.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_autocomplete.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_facets.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_sort_orders.js' | asset_url }}" defer></script>
<script src="{{ 'algolia_instant_search.js' | asset_url }}" defer></script>
  <!-- /Algolia head -->

    
    
    
    <script>
          window['friendbuy'] = window['friendbuy'] || [];
          window['friendbuy'].push(['site', 'site-73224167-www.migolondrina.com']);
          window['friendbuy'].push(['track', 'customer',
              {
                  id: '{{ customer.id }}',
                  email: '{{ customer.email }}',
                  first_name: '{{ customer.first_name }}',
                  last_name: '{{ customer.last_name }}'
              }
          ]);
          (function (f, r, n, d, b, y) {
              b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
          })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
 </script>
    
    
    
    
    
    
    
{% include 'hulkcode_common' %}{% if template contains 'product' or template contains 'cart' %}<script src='https://volumediscount.hulkapps.com/api/v2/frontend/hulkcode.js' defer='defer'></script>{% endif %}    </head>

  <body class="prestige--v4 {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>
    <div class="PageTransition"></div>

    {% section 'popup' %}
    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
      {% include 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>
      {% section 'superfooter' %}
      {% section 'footer' %}
    </div>
  {% comment %}{% include 'globo.filter.action' %}{% endcomment %}
{% assign id = linklists.gift-wrapping.links.first.object.variants.first.id %}
<script>

Shopify.Cart = Shopify.Cart || {};

Shopify.Cart.GiftWrap = {};

var GiftWrapInProgress = false;
Shopify.Cart.GiftWrap.set = function() {
  $('#is-a-gift .Error').remove();
  $('.Cart .Button.Cart__Checkout').prop('disabled','disabled').addClass('Disabled').addClass('Loading');
  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js', 
    data: { updates: { {{ id }}: 1 }, attributes: { 'gift-wrapping': true } }, 
    dataType: 'json',
    success: function() {
      location.href = '/cart';
    },
    error: function() { 
      jQuery('[name="attributes\[gift-wrapping\]"]').prop('checked',false).attr('checked',null).removeAttr('checked');
      $('#is-a-gift').prepend($('<span class="Error">Error adding gift wrapping to cart. Please try again.</span>'));
      $('.Cart .Button.Cart__Checkout').prop('disabled',null).removeClass('Disabled').removeClass('Loading'); 
    },
    timeout: 10000
  });
}

Shopify.Cart.GiftWrap.remove = function() {
  $('#is-a-gift .Error').remove();
  $('.Cart .Button.Cart__Checkout').prop('disabled','disabled').addClass('Disabled').addClass('Loading');
  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js', 
    data: { updates: { {{ id }}: 0 }, attributes: { 'gift-wrapping': '' } }, 
    dataType: 'json',
    success: function() { 
      location.href = '/cart'; 
    },
    error: function() { 
      jQuery('[name="attributes\[gift-wrapping\]"]').prop('checked',true).attr('checked','checked');
      $('#is-a-gift').prepend($('<span class="Error">Error removing gift wrapping from cart. Please try again.</span>'));
      $('.Cart .Button.Cart__Checkout').prop('disabled',null).removeClass('Disabled').removeClass('Loading'); 
    },
    timeout: 10000
  });
}

// If we have nothing but gift-wrap items in the cart.
{% if cart.items.size == 1 and gift_wraps_in_cart > 0 %}
jQuery(function() {
  Shopify.Cart.GiftWrap.remove();
});
// If we have more than one gift-wrap item in the cart.
{% elsif gift_wraps_in_cart > 1 %}
jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});
// If we have a gift-wrap item in the cart but our gift-wrapping cart attribute has not been set.
{% elsif gift_wraps_in_cart > 0 and cart.attributes.gift-wrapping == blank  %}
jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});
// If we have no gift-wrap item in the cart but our gift-wrapping cart attribute has been set.
{% elsif gift_wraps_in_cart == 0 and cart.attributes.gift-wrapping != blank  %}
jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});
{% endif %}

// When the gift-wrapping checkbox is checked or unchecked.
jQuery(function() {
  jQuery('body').on('change','input#gift-wrapping',function() {
    console.log('giftwrapping changed');
    if (jQuery(this).is(':checked')) {
      Shopify.Cart.GiftWrap.set();    
    }
    else {
      Shopify.Cart.GiftWrap.remove();
    }
  });
});
document.addEventListener('cart:reloaded',function() {
  console.log('cart:reloaded' + $('.CartItem[data-variant-id={{id}}]').length);
  if ($('.CartItem[data-variant-id={{id}}]').length == 0 && $('input#gift-wrapping').is(':checked')) {
    Shopify.Cart.GiftWrap.remove();
  }
});
</script>
   {% comment %} <!-- Insert QuadPay Widget Lite --> {% endcomment %}
<script src="https://widgets.quadpay.com/quadpay-shopify.js" defer="defer"></script>

	

  <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});
</script><script type="text/javascript">window.Beacon('init', 'ee43fbc5-498a-48e9-83ff-f03cf9d71c9d')</script>

  
  
  
  
   {% include 'smile-initializer' %}


<!-- sh-ssp-added -->
{%comment%}{% render 'sh-ssp-theme-snippet' %}{%endcomment%}
<!-- /sh-ssp-added -->
    
   


<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->

<!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_fsb_main', product: product, customer: customer %}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
</body>
</html>
