{%- if section.settings.show_layout_switch -%}
  {%- assign desktop_items_per_row = cart.attributes.collection_desktop_items_per_row | default: section.settings.grid_desktop_items_per_row | times: 1 -%}
  {%- assign mobile_items_per_row  = cart.attributes.collection_mobile_items_per_row | default: section.settings.grid_mobile_items_per_row | times: 1 -%}

  {%- if desktop_items_per_row >= 3 and desktop_items_per_row != section.settings.grid_desktop_items_per_row -%}
    {%- assign desktop_items_per_row = section.settings.grid_desktop_items_per_row -%}
  {%- endif -%}
{%- else -%}
  {%- assign desktop_items_per_row = section.settings.grid_desktop_items_per_row | times: 1 -%}
  {%- assign mobile_items_per_row  = section.settings.grid_mobile_items_per_row | times: 1 -%}
{%- endif -%}

{%- if desktop_items_per_row == 4 -%}
  {%- assign tablet_items_per_row = 3 -%}
{%- else -%}
  {%- assign tablet_items_per_row = 2 -%}
{%- endif -%}

{%- assign active_tags = '' -%}
{%- assign has_size_tag = false -%}
{%- assign size_tag = '' -%}

{%- for tag in current_tags -%}
  {%- assign tag_as_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle -%}
  {%- assign active_tags = active_tags | append: tag_as_handle -%}
  {%- if tag contains 'size-' -%}
    {%- assign has_size_tag = true -%}
    {%- assign size_tag = tag -%}
  {%- endif -%}

  {%- unless forloop.last -%}
    {%- assign active_tags = active_tags | append: '+' -%}
  {%- endunless -%}
{%- endfor -%}

{%- assign default_no_products = 'collection.general.no_products' | t -%}

{%- capture collection_inner -%}
  {%- comment -%}This is the common part to both template{%- endcomment -%}

  {%- if collection.products_count > 0 -%}
    {%- paginate collection.products by section.settings.grid_items_per_page -%}
      <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid {% if paginate.pages > 1 %}ProductList--removeMargin{% endif %} Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
          {%- for product in collection.products -%}
            {%- if product.available -%}{%- comment -%}Hide out of stock products{%- endcomment -%}
              {%- if has_size_tag -%}
                {%- assign available_variants = '|' -%}
                {%- for variant_item in product.variants -%}
                  {%- if variant_item.available -%}
                    {%- assign available_variants = available_variants | append: 'size-' | append: variant_item.title | append: '|' | downcase | replace: ' ','-' -%}
                  {%- endif -%}
                {%- endfor -%}
                {%- if available_variants contains size_tag -%}
                  <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}widescreen{% endif %}">
                    {%- include 'product-item', show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: false -%}
                  </div>
                {%- else -%}
                  <!--hidden product size: {{ product.title }} variants: {{ available_variants }} sizetag: {{ size_tag }} -->
                {%- endif -%}
              {%- else -%}
                <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}widescreen{% endif %}">
                  {%- include 'product-item', show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: false -%}
                </div>
              {%- endif -%}
            {%- else -%}
              <!--hidden product: {{ product.title }} -->
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>

      {%- include 'pagination' -%}

      {%- if section.settings.show_collection_desc_footer -%}
        {%- if collection.description != blank -%}
          <div class="CollectionDescription" id="CollectionDescription1">
            <div class="Rte">
              {{- collection.description -}}
              <button class="btn" aria-expanded="false" aria-controls="CollectionDescription1">Read <span class="more">more</span><span>/</span><span class="less">less</span></button>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}      
    {%- endpaginate -%}
  {%- else -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title h3">{{ section.settings.no_products | default: default_no_products }}</h1>
        <button class="EmptyState__Action Button Button--primary" data-action="reset-tags">{{ 'collection.general.reset' | t }}</button>

        {%- if section.settings.show_collection_desc_footer -%}
          {%- if collection.description != blank -%}
            <div class="CollectionDescription" id="CollectionDescription2">
              <div class="Rte">
                {{- collection.description -}}
                <button class="btn" aria-expanded="false" aria-controls="CollectionDescription2">Read <span class="more">more</span><span>/</span><span class="less">less</span></button>
              </div>
            </div>
          {%- endif -%}
        {%- endif -%}        
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- if template == 'collection.ajax' -%}
  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  CONTENT FOR AJAX ALTERNATE TEMPLATE
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- layout none -%}
  {{- collection_inner -}}

{%- else -%}
  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  CONTENT FOR NORMAL TEMPLATE
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- capture section_settings -%}
  {
    "collectionUrl": {{ collection.url | default: '/collections/all' | json }},
    "currentTags": {% if active_tags != blank %}{{ active_tags | split: '+' | json }}{% else %}[]{% endif %},
    "sortBy": {{ collection.sort_by | default: collection.default_sort_by | json }},
    "filterPosition": {{ section.settings.filter_position | json }}
  }
  {%- endcapture -%}

  <section data-section-id="{{ section.id }}" data-section-type="collection" data-section-settings='{{ section_settings }}'>
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    COLLECTION INFO
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- if section.settings.show_collection_info and collection.all_products_count > 0 -%}
      {%- if section.settings.show_collection_image and collection.image and collection.template_suffix != 'no-image' -%}
        <div class="FlexboxIeFix">
        <header class="PageHeader PageHeader--withBackground {% if section.settings.collection_image_size != 'normal' %}PageHeader--{{ section.settings.collection_image_size }}{% endif %}" style="background: url({{ collection.image | img_url: '1x1', format: 'jpg' }})">
          <div class="PageHeader__ImageWrapper Image--lazyLoad Image--fadeIn {% if section.settings.apply_overlay %}Image--contrast{% endif %}"
               data-optimumx="1.2"
               data-bgset="{{ collection.image | img_url: 'x600' }} 600w, {{ collection.image | img_url: '800x' }} 800w, {{ collection.image | img_url: '1200x' }} 1200w, {{ collection.image | img_url: '1400x' }} 1400w, {{ collection.image | img_url: '1600x' }} 1600w">
          </div>

          <noscript>
            <div class="PageHeader__ImageWrapper {% if section.settings.apply_overlay %}Image--contrast{% endif %}" style="background-image: url({{ collection.image | img_url: '800x' }})"></div>
          </noscript>

          <div class="Container">
            <div class="SectionHeader SectionHeader--center">
              <h1 class="SectionHeader__Heading h2">{{ collection.title }}</h1>

              {%- if collection.description != blank -%}
                <div class="SectionHeader__Description Rte">
                  {{- collection.description -}}
                </div>
              {%- endif -%}
            </div>
          </div>
        </header>
        </div>
      {%- else -%}
        <header class="PageHeader">
          <div class="Container">
            <div class="SectionHeader SectionHeader--center">
              <h1 class="SectionHeader__Heading h2">{{ collection.title }}</h1>

              {%- if collection.description != blank -%}
                <div class="SectionHeader__Description Rte">
                  {{- collection.description -}}
                </div>
              {%- endif -%}
            </div>
          </div>
        </header>
      {%- endif -%}
    {%- endif -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    COLLECTION TOOLBAR
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- if collection.all_products_count > 0 -%}
      {%- comment -%}
      In order to provide more predictable results (for instance not showing filters by tag even if the option is checked in settings,
      but that there are no tags for the given collection to show), we are doing some more logic here. Basically, we try to check if there
      are tags to show by stripping internal tags (those that start by "__")
      {%- endcomment -%}

      {%- assign has_visible_tags = false -%}

      {%- case section.settings.filter_mode -%}
        {%- when 'tag' -%}
          {%- for tag in collection.all_tags -%}
            {%- unless tag contains '__' -%}
              {%- assign has_visible_tags = true -%}
              {%- break -%}
            {%- endunless -%}
          {%- endfor -%}

        {%- when 'group' -%}
          {%- for tag in collection.all_tags -%}
            {%- assign tag_parts = tag | split: '_' -%}

            {%- if tag_parts.size == 2 -%}
              {%- assign has_visible_tags = true -%}
            {%- endif -%}
          {%- endfor -%}
      {%- endcase -%}

      {%- assign show_filters = false -%}
      {%- assign quick_links = linklists[section.settings.filter_menu] -%}

      {%- if quick_links != blank or has_visible_tags or true -%}
        {%- assign show_filters = true -%}
      {%- endif -%}

      {%- capture collection_toolbar -%}
        {%- if show_filters or section.settings.show_sort_by or section.settings.show_layout_switch -%}
          <div class="CollectionToolbar CollectionToolbar--{{ section.settings.toolbar_position }} {% unless section.settings.show_layout_switch and show_filters == false and section.settings.show_sort_by == false %}CollectionToolbar--reverse{% endunless %} {%comment%}{% if section.settings.show_toolbar_on == 'phone' %}hidden-tablet-and-up{% endif %} {% if section.settings.show_toolbar_on == 'desk' %}hidden-phone{% endif %}{%endcomment%}">
            {%- if show_filters or section.settings.show_sort_by -%}
              <div class="CollectionToolbar__Group">
                {%- if show_filters -%}
                  <button class="CollectionToolbar__Item CollectionToolbar__Item--filter {% unless current_tags %}Text--subdued{% endunless %} h3 {% if section.settings.filter_position != 'drawer' %}hidden-lap-and-up{% endif %}"
                          data-action="open-drawer"
                          data-drawer-id="collection-filter-drawer"
                          aria-label="{{ 'collection.filter.show_filter' | t }}">
                    {{ 'collection.filter.title' | t }} {% if current_tags %}<span class="Text--subdued">({{ current_tags.size }})</span>{% endif %}
                  </button>
                {%- endif -%}

                {%- if section.settings.show_sort_by -%}
                  <button class="CollectionToolbar__Item CollectionToolbar__Item--sort Text--subdued h3"
                          aria-label="{{ 'collection.sorting.show_sort' | t }}"
                          aria-haspopup="true"
                          aria-expanded="false"
                          aria-controls="collection-sort-popover">
                    {{ 'collection.sorting.title' | t }} {% include 'icon' with 'select-arrow' %}
                  </button>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if section.settings.show_layout_switch -%}
              <div class="CollectionToolbar__Item CollectionToolbar__Item--layout">
                <div class="CollectionToolbar__LayoutSwitch hidden-tablet-and-up">
                  <button aria-label="{{ 'collection.layout.show_one_per_row' | t }}" class="CollectionToolbar__LayoutType {% if mobile_items_per_row == 1 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="mobile" data-count="1">{% include 'icon' with 'wall-1' %}</button>
                  <button aria-label="{{ 'collection.layout.show_two_per_row' | t }}" class="CollectionToolbar__LayoutType {% if mobile_items_per_row == 2 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="mobile" data-count="2">{% include 'icon' with 'wall-2' %}</button>
                </div>

                <div class="CollectionToolbar__LayoutSwitch hidden-phone">
                  <button aria-label="{{ 'collection.layout.show_two_per_row' | t }}" class="CollectionToolbar__LayoutType {% if desktop_items_per_row == 2 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="desktop" data-count="2">{% include 'icon' with 'wall-2' %}</button>
                  <button aria-label="{{ 'collection.layout.show_four_per_row' | t }}" class="CollectionToolbar__LayoutType {% if desktop_items_per_row >= 3 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="desktop" data-count="{{ section.settings.grid_desktop_items_per_row }}">{% include 'icon' with 'wall-4' %}</button>
                </div>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endcapture -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      FILTERS AND SORT BY POPOVER
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if show_filters -%}
        {%- comment -%}
        Implementation note: the filters can be displayed in two different ways: in a sidebar menu, always visible, or in a drawer. Due to that, we are
        setting the general code here, and then we will output it twice.
        {%- endcomment -%}

        {%- assign quick_links = linklists[section.settings.filter_menu] -%}

        {%- capture filters_content -%}
          {%- if quick_links != empty -%}
            <div class="Collapsible Collapsible--padded Collapsible--autoExpand">
              <button type="button" class="Collapsible__Button h3" data-action="toggle-collapsible" aria-expanded="false">
                {{- quick_links.title | escape -}} <span class="Collapsible__Plus"></span>
              </button>

              <div class="Collapsible__Inner">
                <div class="Collapsible__Content">
                  <ul class="Linklist">
                    {%- for link in quick_links.links -%}
                      <li class="Linklist__Item {% if link.active %}is-selected{% endif %}">
                        <a href="{{ link.url }}" class="Link Link--primary Text--subdued {% if link.active %}is-active{% endif %}">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>
          {%- endif -%}

          {%- include 'filter-menu' -%}

        {%- endcapture -%}

        <div id="collection-filter-drawer" class="CollectionFilters Drawer Drawer--secondary Drawer--fromRight" aria-hidden="true">
          <header class="Drawer__Header Drawer__Header--bordered Drawer__Header--center Drawer__Container">
            <span class="Drawer__Title h3">{{ 'collection.filter.all' | t }}</span>

            <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="collection-filter-drawer" aria-label="{{ 'header.navigation.close_sidebar' | t }}">
              {%- include 'icon' with 'close' -%}
            </button>
          </header>

          <div class="Drawer__Content">
            <div class="Drawer__Main" data-scrollable>
              {{ filters_content }}
            </div>

            {%- if settings.pt_apply_button_enable -%}
            <div class="Drawer__Footer Drawer__Footer--padded" data-drawer-animated-bottom>
              <div class="ButtonGroup">
                <button type="button" class="ButtonGroup__Item Button Button--secondary" data-action="reset-tags" {% if current_tags == blank or true %}style="display: none"{% endif %}>{{ 'collection.filter.reset' | t }}</button>
                <button type="button" class="ButtonGroup__Item ButtonGroup__Item--expand Button Button--primary pt-apply" data-action="apply-tags">{{ 'collection.filter.apply' | t }}</button>
              </div>
            </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      {%- if section.settings.show_sort_by -%}
        <div id="collection-sort-popover" class="Popover" aria-hidden="true">
          <header class="Popover__Header">
            <button class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% include 'icon' with 'close' %}</button>
            <span class="Popover__Title h4">{{ 'collection.sorting.title' | t }}</span>
          </header>

          <div class="Popover__Content">
            <div class="Popover__ValueList" data-scrollable>
              {% assign collection_sort_by = collection.sort_by | default: collection.default_sort_by %}

              {%- for option in collection.sort_options -%}
                <button class="Popover__Value {% if option.value == collection_sort_by %}is-selected{% endif %} Link Link--primary h4" data-value="{{ option.value }}" data-action="select-value">
                  {{ option.name }}
                </button>
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      COLLECTION PRODUCTS
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="CollectionMain">
        {%- if section.settings.toolbar_position == 'top' -%}
          {{- collection_toolbar -}}
        {%- endif -%}

        <div class="CollectionInner">
          {%- if show_filters and section.settings.filter_position == 'sidebar' -%}
            <div class="CollectionInner__Sidebar {% if collection_toolbar != blank and section.settings.toolbar_position == 'top' %}CollectionInner__Sidebar--withTopToolbar{% endif %} hidden-pocket">
              <div class="CollectionFilters">
                {{ filters_content }}

                <button type="button" class="Button Button--secondary" data-action="reset-tags" {% if current_tags == blank or true %}style="display: none"{% endif %}>{{ 'collection.filter.reset' | t }}</button>
              </div>
              {%- if collection.handle == 'bridal' -%}
                <div class="Sidebar__Extra">
                  <h2 class="h2">We're Here To Help!</h2>
                  <p><button type="button" class="Link Text--subdued h3" data-action="open-modal" aria-controls="modal-bridal-faq">Commonly Asked Questions</button></p>
                  <h2 class="h2">Questions?</h2>
                  <p><button type="button" class="Link Text--subdued h3" data-action="open-modal" aria-controls="modal-bridal-contact">Get In Touch</button></p>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          <div class="CollectionInner__Products">
            {%- if section.settings.show_sort_by and section.settings.show_inline_sort -%}
              <!--button class="hidden-phone InlineSort CollectionToolbar__Item CollectionToolbar__Item--sort Text--subdued h3"
                      aria-label="{{ 'collection.sorting.show_sort' | t }}"
                      aria-haspopup="true"
                      aria-expanded="false"
                      aria-controls="collection-sort-popover">
                {{ 'collection.sorting.title' | t }} {% include 'icon' with 'select-arrow' %}
              </button-->
            {%- endif -%}
            {{ collection_inner }}
          </div>
        </div>

        {%- if section.settings.toolbar_position == 'bottom' -%}
          {{- collection_toolbar -}}
        {%- endif -%}
      </div> 
    {%- else -%}
      <div class="EmptyState">
        <div class="Container">
          <h3 class="EmptyState__Title h3">{{ 'collection.general.empty' | t: collection_title: collection.title }}</h3>
          <a href="{{ routes.root_url }}" class="EmptyState__Action Button Button--primary">{{ 'collection.general.empty_button' | t }}</a>

          {%- if section.settings.show_collection_desc_footer -%}
            {%- if collection.description != blank -%}
              <div class="CollectionDescription" id="CollectionDescription3">
                <div class="Rte">
                  {{- collection.description -}}
                  <button class="btn" aria-expanded="false" aria-controls="CollectionDescription3">Read <span class="more">more</span><span>/</span><span class="less">less</span></button>
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </section>
{%- endif -%}

{%- capture hack -%}
{%- comment -%}This is just an ugly hack to make those variables appear as part of the theme editor in the General Settings{%- endcomment -%}
{{ settings.product_list_horizontal_spacing }},{{ settings.product_list_vertical_spacing }}
{%- endcapture -%}

<script type="text/javascript">
  var collection_readmore = document.querySelector('.CollectionDescription .Rte .btn');
  collection_readmore.addEventListener("click", toggleDescription);

  function toggleDescription(e){
    var x = e.target.getAttribute("aria-expanded"); 
    var y;
    if (x == "true") {
      y = "false"
    } else {
      y = "true"
    }
    e.target.setAttribute("aria-expanded", y);
    document.querySelector('.CollectionDescription').classList.toggle('opened');
  }
</script>

{% schema %}
{
  "name": "Collection page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_info",
      "label": "Show collection info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_desc_footer",
      "label": "Show collection description in footer",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "label": "Apply overlay on image",
      "info": "This can improve text visibility.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_image_size",
      "label": "Collection image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Toolbar"
    },
    {
      "type": "checkbox",
      "id": "show_sort_by",
      "label": "Show sort by",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_layout_switch",
      "label": "Show layout switch"
    },
    {
      "type": "select",
      "id": "toolbar_position",
      "label": "Position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "select",
      "id": "show_toolbar_on",
      "label": "Show Toolbar On:",
      "options": [
        {
          "value": "both",
          "label": "Phone + Tablet + Desktop"
        },
        {
          "value": "phone",
          "label": "Phone Only"
        },
        {
          "value": "desk",
          "label": "Tablet + Desktop Only"
        }
      ],
      "default": "both"
    },
    {
      "type": "checkbox",
      "id": "show_inline_sort",
      "label": "Show inline sort",
      "default": true
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "select",
      "id": "filter_position",
      "label": "Desktop position",
      "options": [
        {
          "value": "sidebar",
          "label": "Sidebar"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "sidebar"
    },
    {
      "type": "select",
      "id": "filter_mode",
      "label": "Mode",
      "info": "Filters by group requires specific tag formatting. [Learn more](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "tag",
          "label": "By tag"
        },
        {
          "value": "group",
          "label": "By group"
        }
      ],
      "default": "tag"
    },
    {
      "type": "checkbox",
      "id": "show_filter_color_swatch",
      "label": "Show filter color swatch",
      "info": "This is only used if filters by group is enabled.",
      "default": true
    },
    {
      "type": "link_list",
      "id": "filter_menu",
      "label": "Quick links",
      "info": "This menu won't show dropdown items."
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "id": "grid_items_per_page",
      "label": "Products per page",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 16
    },
    {
      "type": "select",
      "id": "grid_mobile_items_per_row",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "min": 2,
      "max": 4,
      "id": "grid_desktop_items_per_row",
      "label": "Products per row (desktop)",
      "default": 4
    },
    {
      "type": "header",
      "content": "Messages"
    },
    {
      "type": "text",
      "id": "no_products",
      "label": "Message for empty collections",
      "default": "No Products"
    }
  ]
}
{% endschema %}