<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading h2">{{ section.settings.heading | default: page.title }}</h1>
    </div>
  </header>

  {% if template == 'page.bridal' %}
    {% if section.settings.image1 != blank or section.settings.image2 != blank %}
      {% capture image_col %}
        <div class="ImgCol">
        {% if section.settings.image1 != blank %}
          {{ section.settings.image1 | img_url: '500x' | img_tag }}
        {% endif %}

        {% if section.settings.image2 != blank %}
          {{ section.settings.image2 | img_url: '500x' | img_tag }}
        {% endif %}
        </div>
      {% endcapture %}
    {% endif %}
  {% endif %}

  <div class="PageContent{% unless image_col %} PageContent--narrow{% endunless %} clearfix">
    {{image_col}}

    <div class="Rte">
      {{- page.content -}}

      {%- form 'contact', class: 'Form Form--spacingTight' -%}
        {%- if form.posted_successfully? -%}
          <p class="Alert Alert--success">{{ 'contact.form.successfully_sent' | t }}</p>
        {%- endif -%}

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <!--div class="Form__Group"-->
          <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[name]" aria-label="{{ 'contact.form.name' | t }}" placeholder="{{ 'contact.form.name' | t }}" required {% if customer %}value="{{ customer.name }}"{% endif %}>
            <label class="Form__FloatingLabel">{{ 'contact.form.name' | t }}</label>
          </div>

          <div class="Form__Item">
            <input type="email" class="Form__Input" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" placeholder="{{ 'contact.form.email' | t }}" required {% if customer %}value="{{ customer.email }}"{% endif %}>
            <label class="Form__FloatingLabel">{{ 'contact.form.email' | t }}</label>
          </div>
        <!--/div-->

        {%- for block in section.blocks -%}
          {%- assign field_title = block.settings.title -%}

          {%- if field_title == blank -%}
            {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
          {%- endif -%}

          {%- if block.type == 'text' -%}
            <div class="Form__Item">
              {%- if block.settings.use_long_text -%}
                <textarea name="contact[{{ field_title | escape }}]" cols="30" rows="10" class="Form__Textarea" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
                <label class="Form__FloatingLabel">{{ block.settings.title | escape }}</label>
              {%- else -%}
                <input type="text" class="Form__Input" name="contact[{{ field_title | escape }}]" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}>
                <label class="Form__FloatingLabel">{{ block.settings.title | escape }}</label>
              {%- endif -%}
            </div>
          {%- elsif block.type == 'dropdown' -%}
            {%- assign values = block.settings.values | split: ',' -%}

            {%- if values == empty -%}
              {%- continue -%}
            {%- endif -%}

            <div class="Form__Item">
              <div class="Form__Select Select Select--primary">
                {%- include 'icon' with 'select-arrow' -%}

                <select name="contact[{{ field_title | escape }}]" title="{{ block.settings.title | escape }}" required>
                  <option value="" disabled selected>{{ block.settings.title | escape }}</option>

                  {%- for value in values -%}
                    {%- assign trim_value = value | strip -%}

                    <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
          {%- elsif block.type == 'radio' -%}
            {%- assign values = block.settings.values | split: ',' -%}

            {%- if values == empty -%}
              {%- continue -%}
            {%- endif -%}

            <div class="Form__Item">
            <span>{{ block.settings.title | escape }}</span>
            {%- for value in values -%}
              {%- assign trim_value = value | strip -%}
              <div class="Form__RadioWrapper">
                <input type="radio" class="Form__Radio" name="contact[{{ field_title | escape }}]" id="{{field_title | handle | append: forloop.index}}" value="{{ trim_value | escape }}" {% if block.settings.is_required %}required{% endif %}>
                <label for="{{field_title | handle | append: forloop.index}}">{{ trim_value | escape }}</label>
              </div>
            {%- endfor -%}
              <div class="Form__RadioWrapper">
                <input type="radio" class="Form__Radio" name="contact[{{ field_title | escape }}]" id="{{field_title | handle | append: '0'}}" value="{{ 'Other' | escape }}" {% if block.settings.is_required %}required{% endif %}>
                <label for="{{field_title | handle | append: '0'}}">{{ 'Other' | escape }}</label>
              </div>
            </div>

            <div class="Form__Item Form__Other">
              <input type="text" class="Form__Input" name="contact[If Other]" placeholder="If Other" aria-label="If Other">
              <label class="Form__FloatingLabel">If Other:</label>
            </div>           
          {%- elsif block.type == 'number' -%}
            {%- assign values = block.settings.values | split: ',' -%}

            {%- if values == empty -%}
              {%- continue -%}
            {%- endif -%}

            <p>{{ block.settings.title | escape }}</p>
            {%- for value in values -%}
              {%- assign trim_value = value | strip -%}
              <div class="Form__Item Form__Item-Inline">
                <label for="{{field_title | handle | append: forloop.index}}">{{ trim_value | escape }}</label>
                <input type="text" class="Form__Input" name="contact[{{ field_title | append: ' ' | append: trim_value | escape }}]" id="{{field_title | handle | append: forloop.index}}" {% if block.settings.is_required %}required{% endif %}>
              </div>
            {%- endfor -%}
          {%- endif -%}          
        {%- endfor -%}

        <div class="Form__Item">
          {%- assign contact_placeholder = contact.form.message | t -%}
          {%- if section.settings.message_placeholder -%}
            {%- assign contact_placeholder = section.settings.message_placeholder -%}
          {%- endif -%}
          <textarea name="contact[body]" cols="30" rows="10" class="Form__Textarea" aria-label="{{ contact_placeholder }}" placeholder="{{ contact_placeholder }}" required></textarea>
          <label class="Form__FloatingLabel">{{ contact_placeholder }}</label>
        </div>

        <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'contact.form.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</div>

<script>
$(function() {
    $('.Form__RadioWrapper input[type="radio"]').on('change', function (e){
      var closestFormItem = $(e.target).closest('.Form__Item');
      if($(e.target).val() == 'Other'){
        $(closestFormItem).next('.Form__Other').find('input').attr('required',true);
      }
      else{
        $(closestFormItem).next('.Form__Other').find('input').removeAttr('required');
      }
    });
});
</script>

{% schema %}
{
  "name": "Bridal Contact page",
  "settings": [
    {
      "id": "heading",
      "label": "Form Heading",
      "type": "text"
    },
    {
      "id": "message_placeholder",
      "label": "Message Placeholder",
      "type": "text",
      "default": "Your message"
    },
    {
      "id": "image1",
      "label": "Image 1",
      "type": "image_picker"
    },
    {
      "id": "image2",
      "label": "Image 2",
      "type": "image_picker"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text field",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "checkbox",
          "id": "use_long_text",
          "label": "Use long text",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "is_required",
          "label": "Field is required",
          "default": false
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "Values",
          "info": "Separate each value by a comma.",
          "default": "value 1, value 2, value 3"
        }
      ]
    },
    {
      "type": "radio",
      "name": "Radio Buttons with Other",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "Values",
          "info": "Separate each value by a comma.",
          "default": "value 1, value 2, value 3"
        },
        {
          "type": "checkbox",
          "id": "is_required",
          "label": "Field is required",
          "default": false
        }
      ]
    },
    {
      "type": "number",
      "name": "Number Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "Items for number fields",
          "info": "Separate each value by a comma.",
          "default": "value 1, value 2, value 3"
        },
        {
          "type": "checkbox",
          "id": "is_required",
          "label": "Field is required",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {
          "title": "Your phone (optional)"
        }
      }
    ]
  }
}
{% endschema %}